*{
    margin: 0;
}
body {
    min-height: 120vh;
    background: linear-gradient(rgb(17, 17, 230) 10%, rgb(13, 13, 158) 30%, rgb(13, 2, 104) 60%);

}
nav{
    display: flex;
    align-items: center;
    height: 75px;
    padding: 0 50px;

}
.nav-item {
    margin: 0 45px;
    color: white;
    text-decoration: none;

}
nav a{
    color: white;
}
.dropdown-item{
    color: black;
}

nav a:hover{
    color: white;
    text-decoration: none;
    text-shadow: 5px 5px 5px violet;
}
.container{
    display: flex;
    flex-direction: column;
    padding: 20px 50px;
}
.container_description{
    flex-basis: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
.block-1 h1{
    color: white;
    font-family: 'Orbitron', sans-serif;
    margin-bottom: 20px;
}
.game_collection{
    display: flex;
    justify-content: space-between;

}
.game_collection img{
    width: 100%;
    margin-top: 15px;
    margin-left: 20px;

}
.game_image, .game_description{
    flex-basis: 45%;
}
.game_description{
    color: white;
}
.game_description ul{
    padding-left: 20px;
}
.game.descrtiption ul li{
    margin: 1em 0;
}

.discription_link{
    color: white;
}
.discription_link:hover{
    color: white;
    text-decoration: none;
}

.discription_link{
    color: white;
}
.discription_link:hover{
    color: white;
    text-decoration: none;
}
.nav li{
    margin-top: 13px;
}
.block-1 h4{
    color: white;
    font-family: 'Orbitron', sans-serif;
    margin: 10px 0 0 50px;
}

